.WaveListItem {
  margin: 10px 10px;
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 10px 11px;

  display: flex;
  align-items: center;
}

.Button {
  padding: 5px 8px;
  margin: 0;
  margin-left: 10px;
}
