.Navbar {
  padding: 20px 20px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;

  .Main {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
  }

  .Button {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 00px) {
  .Navbar {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
